* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
    background-color: #c9c2ab;
}


@font-face {
    font-family: 'nashville'; /*a name to be used later*/
    src: url('../fonts/PixelCowboy.otf'); /*URL to font*/
}

.wrapper {
    width:100%;
    height: 100%;
}

.overlay {
	display: none;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}

.menu {
    text-align: center;
	margin-top: 100px;
    width: 100%;
    //min-height: 800px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding-bottom: 100px;
}

.menu h1 {
	color: #FFF047;
    font-family: 'nashville';
    width: 100%;
	display: block;
	text-align: center;
    font-size: 130px;
    padding-top: 50px;

}

.menu .item{
	padding: 10px 0;
	//background-color: #4E6BB2;
    font-family: 'nashville';
    font-size: 50px;
    color: #fff;
	width: 500px;
	display: block;
	text-align: center;
	text-decoration: none;
	margin-bottom: 5px;
    margin-left: auto;
	margin-right: auto;
    
}

.menu .item:hover{
	color: #4660a1;
}

.side.menu {
    display: block;
    position: absolute;
    margin:0;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #3c3a33;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    padding-bottom: 0;
}

.side.menu .bottom {
    display: block;
    position: absolute;
    bottom: 0;
}

.side.menu .item{
    width: 50px;
    height: 50px;
    padding: 15px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.side.menu .item:hover{
    background-color: rgba(0,0,0,0.5); 
}

.side.menu .item:hover .child{
    display: block;
}

.side.menu .item .child {
    display: none;
    width: 80px;
    background-color: rgba(0,0,0,0.84);
    position: relative;
    top:-15px;
    left: 65px;
}

.side.menu .item .child:hover {
    display: block;
    background-color: rgba(0,0,0,0.7);
}

.progress.bar {
    display: block;
    position: absolute;
    z-index: 1000;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100%;

}

.progress.bar .progress {
    display: block;
    width: 0%;
    background-color: #f66;
    height: 6px;
}

.minimap {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
}