@font-face {
    font-family: visitor;
    src: url(./../fonts/visitor2.ttf);
}

* {
    cursor: default;
}

html,
body {
    margin: 0;
    padding: 0;
}

#game {
    font-family: 'visitor', 'Ubuntu Mono', Arial;
    font-weight: 400;
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    margin: auto 0;
}
.canvas {
    position:absolute;
    left:0;
    top:25;
    background-color: #000;
    width:100%;
}
.overlay {
    color: #fff;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 200;
    background-image: url(./../images/background-button.png);
}
.modal {
    text-align: center;
    width: 50%;
    height: 50%;
    margin: auto;
    padding-bottom: 100px;
    font-family: Arial;
    color: rgba(0, 0, 0, 0.7);
    background-color: #0a0a0a;
    max-width: 400px;
    padding: 5px 0;
    position:absolute;
    bottom: 0;
    top: 0; left: 0; bottom: 0; right: 0;
    display: table;
    padding: 20px;
}
.modal .inside {
    border-width: 2px;
    -webkit-border-image: url(./../assets/images/border-1.png) 2 repeat; /* Safari 3.1-5 */
    -o-border-image: url(./../assets/images/border-1.png) 2 repeat; /* Opera 11-12.1 */
    border-image: url(./../images/border-1.png) 2 fill;
    height: 100%;
    width: 100%;
    display: table-cell;
}
.modal .button {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: #0a0a0a;
    border: none;
    background-image: url(./../images/background-button.png);
    cursor: hand;
    margin: 10px 0;
}
.modal .button.bottom {
    position: absolute;
    bottom: 0;
}
.modal .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.top.menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width:100%;
    display:inline-block;
    background-color: #0a0a0a;
    line-height: 25px;
    padding-left: 0px;
}

.top.menu span {}
.top.menu img {vertical-align: middle;}

.top.menu .item {
    height: 100%;
    width: 25px;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    left: -1px;
    display:inline-block;
    padding-left: 5px;
}
.top.menu .item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.top.menu .item:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.7);
}

#game .window {
    display: table;
    width: 300px;
    height: 150px;
    background-color: #0a0a0a;
    border: 1px solid #0a0a0a;
    position: absolute;
}
.table .row {
    display: table-row;
}

.table .row .cell {
    display: table-cell;
}

#game .window .inside {
    border-width: 2px;
    -webkit-border-image: url(./../assets/images/border-1.png) 2 repeat; /* Safari 3.1-5 */
    -o-border-image: url(./../assets/images/border-1.png) 2 repeat; /* Opera 11-12.1 */
    border-image: url(./../images/border-1.png) 2 fill;
    height: 100%;
    width: 100%;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(./../images/grip.png);
    background-position: 0;
    background-color: #0a0a0a;
    bottom: 0;
    right: -1px;
}

#game .window .ui-resizable-e{
    right: 0;
}
#game .window .ui-resizable-s{
    bottom: 0;
}

#game .window .header {
    width: 100%;
    height: 20px;
    cursor: move;
    background-image: url(./../images/background-title.png);
    line-height: 20px;
    vertical-align: middle;
}

#game .window .header .title{
    width: auto;
    height: 20px;
    padding-left: 3px;
}

#game .window .header .close{
    right: 0;
    cursor: pointer;
    line-height: 20px;
    vertical-align: middle;
    text-align: left;
    width: 20px;
    background: transparent;
}
