* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
    background: no-repeat fixed center url('http://paper-backgrounds.com/textureimages/2012/09/old-wood-board-texture.jpg') ;
    background-size: cover;
}


@font-face {
    font-family: 'nashville'; /*a name to be used later*/
    src: url('../fonts/nashville.ttf'); /*URL to font*/
}

.wrapper {
    width:100%;
    height: 100%;
}

.overlay {
	display: none;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}

.menu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
    width: 600px;
    min-height: 800px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: rgba(173, 169, 163, 0.75);
    border: 0px solid #000000;
}

.menu h1 {
	color: #FFF047;
    font-family: 'nashville';
	width: 100%;
	display: block;
	text-align: center;
    font-size: 130px;
    padding-top: 50px;

}

.menu .item{
	padding: 10px 0;
	//background-color: #4E6BB2;
    font-family: 'nashville';
    font-size: 50px;
    color: #fff;
	width: 500px;
	display: block;
	text-align: center;
	text-decoration: none;
	margin-bottom: 5px;
    margin-left: auto;
	margin-right: auto;
    
}

.menu .item:hover{
	color: #4660a1;
}

.side-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.side-menu .bottom {
    display: block;
    position: absolute;
    bottom: 0;
}

.side-menu .item{
    width: 50px;
    height: 50px;
    padding: 15px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.side-menu .item:hover{
    background-color: rgba(0,0,0,0.5); 
}

.side-menu .item:hover .child{
    display: block;
}

.side-menu .item .child {
    display: none;
    width: 80px;
    background-color: rgba(0,0,0,0.84);
    position: relative;
    top:-15px;
    left: 65px;
}

.side-menu .item .child:hover {
    display: block;
    background-color: rgba(0,0,0,0.7);
}